h3
{
    margin-top: 1.5em;
    margin-bottom: 0.15em;
}




#reload
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: #ff8296;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
#reload:hover
{
    background-color: #ffb7c3;
}

#spacer
{
    display: none;
    height: 3em;
}





#quick tr:first-child
{
    background-color: #555555;
    color: #ffffff;
}

#quick tr:nth-child(even)
{
    background-color:#eeeeee;
}

#quick th, #quick td
{
    padding-left: 0.5em;
    padding-right: 0.5em;
    white-space: pre;
    text-align: center;
}




#all td
{
    vertical-align: top;
}

table table
{
    margin-right: 1.5em;
}

#all th
{
    border: 1px solid #cccccc;
    padding: 0.25em 0.5em;
    text-align: center;
    background-color: #555555;
    color: #ffffff;
}

#all table td
{
    white-space: pre;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.9em;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#all table tr:nth-child(odd)
{
    background-color: #eeeeee;
}
